body{
    background-image: url(bleu_1.jpg);
    background-position: center
}

img{
    text-align: center;
}
/*.form{
    
    -webkit-clip-path: polygon(8% 10%, 6% 17%, 3% 23%, 5% 29%, 11% 33%, 17% 36%, 14% 40%, 18% 46%, 24% 49%, 35% 51%, 47% 52%, 44% 55%, 39% 57%, 35% 60%, 31% 65%, 28% 69%, 25% 73%, 25% 78%, 27% 82%, 33% 83%, 31% 89%, 33% 92%, 41% 95%, 50% 96%, 60% 96%, 73% 94%, 79% 92%, 82% 89%, 76% 83%, 84% 79%, 87% 72%, 88% 65%, 84% 60%, 73% 55%, 68% 50%, 79% 44%, 87% 43%, 91% 39%, 89% 35%, 93% 29%, 93% 22%, 91% 14%, 78% 10%, 64% 6%, 48% 4%, 30% 3%, 19% 7%);    
    clip-path: polygon(8% 10%, 6% 17%, 3% 23%, 5% 29%, 11% 33%, 17% 36%, 14% 40%, 18% 46%, 24% 49%, 35% 51%, 47% 52%, 44% 55%, 39% 57%, 35% 60%, 31% 65%, 28% 69%, 25% 73%, 25% 78%, 27% 82%, 33% 83%, 31% 89%, 33% 92%, 41% 95%, 50% 96%, 60% 96%, 73% 94%, 79% 92%, 82% 89%, 76% 83%, 84% 79%, 87% 72%, 88% 65%, 84% 60%, 73% 55%, 68% 50%, 79% 44%, 87% 43%, 91% 39%, 89% 35%, 93% 29%, 93% 22%, 91% 14%, 78% 10%, 64% 6%, 48% 4%, 30% 3%, 19% 7%);
}*/
#bubble{
    position: relative;
    right:50px;
    background-color:white;
    text-align:center;
    width:250px;
    height:80px;
    border:2px solid #555555;
  }


#bubble{
    /* ... */
    /* propriété CSS3 (fonctionne sous Opera) */
    border-top-right-radius:80px 40px;
    border-top-left-radius:80px 40px;
    border-bottom-right-radius:80px 40px;
    border-bottom-left-radius:80px 40px;
    /* implémentation Firefox */
    -moz-border-radius-topright:80px 40px;
    -moz-border-radius-topleft:80px 40px;
    -moz-border-radius-bottomright:80px 40px;
    -moz-border-radius-bottomleft:80px 40px;
    /* implémentation Chrome, Safari, ... */
    -webkit-border-top-right-radius:80px 40px;
    -webkit-border-top-left-radius:80px 40px;
    -webkit-border-bottom-right-radius:80px 40px;
    -webkit-border-bottom-left-radius:80px 40px;
}

#arrow_border{
    width:0;
    height:0;
    line-height:0;
    border-bottom:30px solid transparent;
    border-left:30px solid transparent;
    border-right:30px solid #555555; /* couleur de la bordure de la bulle */
}
#arrow_inner{
    width:0;
    height:0;
    line-height:0;
    border-bottom:30px solid transparent;
    border-left:30px solid transparent;
    border-right:30px solid white; /* couleur du fond de la bulle */
}

#arrow_border{
    /* ... */
    position:absolute;
    bottom:-30px;
    right:65px;
  }
  /*
   *  le span qui va se superposer doit être légèrement décalé pour laisser donner l'impression d'une bordure
   */
  #arrow_inner{
    /* ... */
    position:absolute;
    bottom:-25px;
    right:67px;
  }

#text{
    width: 50px;
}










